.product-container {
    display: grid;
    grid-template-columns: 8% 15% 15% 6% 6% 15% auto;
    text-align: center;
}

.product-container img {
    width: 100%;
}

.product-list {
    border-bottom: 1px solid black;
    height: 200px;
    border-right: 1px solid black;
    padding: 10px;
}

.title {
    border: 1px solid black;
    border-right: none;
    padding: 5px;
    background-color: #ff8b8e;
    text-align: center; 
    font-weight: bolder;
}

header.product-header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 1px solid grey;
    padding: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background-color: #ff8b8e;
}

button.add-new-product {
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    box-shadow: 3px 3px 3px #222;
    cursor: pointer;
    outline:none;
    background-color: #f9f9f9;
}

button.add-new-product:hover {
    background-color: #c9c9c9;
}

button.add-new-product:active {
    box-shadow: 1px 1px 1px #c9c9c9;
    transform: translateY(2px);
    transition: all .2s ease-in;
}

.admin-search {
    grid-column: 3;
}

.modal-add-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
}

.modal-add-container input, select {
    height: auto;
    margin-left: 100px;
    line-height: 0;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#blah {
    border: 1px solid black;
    width: 300px;
    height: 300px;
}

footer input {
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    box-shadow: 3px 3px 3px #222;
    cursor: pointer;
    outline:none;
    background-color: #f9f9f9;
    margin: 0 10px;
    font-size: 1.2rem;
}

footer input:hover {
    background-color: #c9c9c9;
    color: #ff8b8e;
}

footer input:active {
    box-shadow: 1px 1px 1px #c9c9c9;
    transform: translateY(2px);
    transition: all .2s ease-in;
    color: #ff8b8e;
}


footer#admin-footer {
    padding: 20px;
    text-align: center;
}

.modal-add-container .add-container-right input {
    margin-left: 20px;
    width: 100px;
    display: block;
}

textarea.description {
    height: 150px;
    width: 350px;
}
