/*FOOTER*/

.footer1 {
    width: 100%;
    background-color: #ff3D41;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px 0;
}

.left-foot1 {
    margin: 0 auto;
}

.right-foot1 {
    margin: 0 auto;
}

.footer1 h4 {
    font-size: 1.5rem;
    display: inline;
}

.threecols {
    width: 100%;
    background-color: #ff8b8e;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    text-align: center;
    grid-gap: 10px;
    padding: 20px 0;
}

.threecols a {
    text-decoration: none;
}

.threecols .col3 img {
    width: 50px;
    border: 2px solid black;
    padding: 10px;
    border-radius: 50px;
    margin: 15px;
    cursor: pointer;
}
.footer2 .col3 img:hover {
    background-color:#ff3D41;
    border: 2px solid white;
}