@import url("header.css");
@import url("footer.css");
@import url("product.css");
@import url("nav.css");
@import url("w3a.css");
@import url("update.css");
@import url("admin-page.css");
@import url("register.css");
@import url("login.css");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color:white;
}

.container {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/*SLIDESHOW*/
.slideshow {    
    text-align: center;
}

.slideshow .mySlides {
    width: 100%;
    padding: 20px 50px;
}

h1.shop {
    color: #ff3D41;
    text-align: center;
    text-shadow: 1px 1px 3px black;
    font-size: 3rem;
}

h4.qoute {
    text-align: center;
    text-shadow: 1px 1px 2px gray;
    font-size: 1.2rem;
    margin-top: 5px;
}